.root { 
    -fx-accent: #ff0004;
    -fx-focus-color: -fx-accent;
    -fx-base: #20242a;
    -fx-font-size: 12.0;
}

.button {
    -fx-background-radius: 10.0,4.0,3.0,10.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 12.0;
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-stroke: -fx-accent;
    -fx-stroke-width: 5.0;
}

.nav .saveButton {
	-fx-padding: 5.0;
}

.today {
    -fx-text-fill: #7FFF00;
}
